:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .cards-container {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        place-content: space-between;
    }
}